.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 1rem;
    background: var(--white);
    max-width: 85%;
    width: 100%;
    margin: 1rem auto;
}

.comment-area {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 10px;
    padding: 1rem;
    background: var(--white);
    top: 18%;
    bottom: 8%;
    left: 30%;
    right: 30%;
    width: 55%;
    height: 73%;
    background: rgba(40, 86, 95, 0.345);
    z-index: 9000;
    overflow-x: hidden;
    overflow-y: auto;
}
.comment-area .comment-form {
    position: relative;
    width: 95%;
    max-width: 380px;
    background: var(--white);
    margin: auto;
    border-radius: 8px;
    animation: 0.3s zoom linear;
}
.comment-form .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.comment-form h3 {
    color: var(--logo);
    font-size: 20px;
    text-align: center;
    margin: 0.3rem auto;
}
.comment-form .comments {
    max-height: 380px;
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: justify;
    padding-bottom: 1.5rem;
    border-bottom: 0.1px solid var(--txt);
}
.comments .row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: justify;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.1px solid #dee0e2;
}
.comments .row .user {
    margin: 0.3rem 0;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: justify;
    text-decoration: none;
    cursor: pointer;
}
.comments .row .user img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
}
.comments .user span {
    margin: 0 0.3rem;
    font-weight: 500;
    color: var(--logo);
}
.comments .row .delete {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 1.7rem;
    bottom: 1rem;
    cursor: pointer;
}
.delete img {
    width: 30px;
    height: 30px;
    padding: 2.5px;
    object-fit: contain;
}
.comments .row .comment {
    text-align: justify;
    margin: 0.2rem 0.2rem;
    font-weight: 500;
    color: var(--txt);
}
.comment-form .type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}
.type input,
button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 0.3rem;
    font-weight: 500;
}

.type button img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}
@media (max-width: 768px) {
    .comment-area {
        width: 100%;
        height: 100vh;
        top: 10%;
        left: 0;
        right: 0;
    }
    .comment-area .comment-form {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 95%;
    }
}

.post a {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    display: flex;
    text-align: center;
    align-items: center;
}
.post a img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    border: 0.1px solid var(--icon) !important;
    border-radius: 50%;
}
.post a span {
    color: var(--icon);
    font-weight: 900;
    margin: 0 0.2rem;
}
.post .content {
    width: 100%;
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0;
    line-height: 1.5rem;
    color: var(--txt);
    font-weight: 900;
}
.content .post--img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.content p {
    font-size: 15px;
}
.post .date {
    position: absolute;
    top: 15px;
    right: 5px;
    display: flex;
    text-align: left;
    justify-content: left;
    padding: 0;
    margin: 0.3rem 5px;
    font-weight: 500;
    font-size: 11px;
    color: var(--logo);
}

.post .action-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.action-area button {
    outline: none;
    border: none;
    background: var(--ico-hover);
    padding: 0.2rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: transparent;
}
.action-area button i {
    color: var(--txt);
    font-weight: 900;
    font-size: 22px;
}
.action-area #icon-- {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.action-area button span {
    margin: 0 0.2rem;
    font-weight: 500;
    font-size: 16px;
    color: var(--txt);
}

/* Post Writing */
.post h3 {
    color: var(--logo);
    font-weight: bold;
    text-align: center;
    margin: 0.5rem auto;
    width: 90%;
}
.post .error {
    color: #cd3e00;
    background: rgba(205, 62, 0, 0.175);
    font-weight: 500;
    font-size: 14px;
    padding: 0.5rem;
    margin: 0.3rem auto;
    border: 1px solid #cd3e00;
    border-radius: 5px;
}
.post .success {
    color: #198f00;
    background: rgba(0, 205, 23, 0.175);
    font-weight: 500;
    font-size: 14px;
    padding: 0.5rem;
    margin: 0.3rem auto;
    border: 1px solid #198f00;
    border-radius: 5px;
}
.post .post--area {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: var(--txt);
    border-width: 2px;
    border-radius: 5px;
}
.post--area textarea {
    resize: none;
    width: 90%;
    height: 70px;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: 900;
    color: var(--txt);
}
.post--area .select-img {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0.3rem auto;
}
.select-img .selected {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin: 0.3rem auto;
}
.select-img .close {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 30px;
}
.select-img .close img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.post .post-btn {
    margin: 0.5rem auto;
    width: 90%;
    background: var(--logo);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 17px;
}

/* User Profile */

.profile-section {
    position: relative;
    border-radius: 10px;
    padding: 1rem;
    background: var(--white);
    max-width: 85%;
    width: 100%;
    margin: 0.5rem auto;
}
main .fixed-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95vh;
    background: rgba(0, 0, 0, 0.345);
    z-index: 900;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.fixed-page .edit-- {
    position: relative;
    margin: 0.5rem auto;
    max-width: 350px;
    width: 280px;
    background: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: 0.3s zoom linear;
    border-radius: 8px;
}
.edit-- img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 50%;
}
.edit-- input {
    width: 200px;
    padding: 0.7rem 0.7rem;
    margin: 0.5rem auto;
    outline: none;
    border: 1px solid var(--logo);
    color: var(--logo);
    border-radius: 5px;
}
.edit-- button {
    width: 200px;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem auto;
    outline: none;
    background: var(--logo);
    color: var(--white);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    transition: 0.3s ease-in;
}
.edit-- button:hover {
    background: #015317;
    color: var(--white);
}
.edit-- .error {
    background: rgba(150, 41, 0, 0.224);
    color: #ff4d09;
    padding: 0.5rem.6rem;
    margin: 0.5rem auto;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}
.edit-- .success {
    background: rgba(1, 150, 0, 0.224);
    color: #4deb07;
    padding: 0.5rem.6rem;
    margin: 0.5rem auto;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}
.full-page {
    width: 100%;
    height: 100vh;
    /* background: rgba(45, 45, 45, 0.244); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    overflow: hidden;
    animation: 0.3s zoom linear;
}
.full-page .edit-form {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    padding: 1rem;
    background: var(--white);
    max-width: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-form .close-edit {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--ico-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.close-edit i {
    font-size: 18px;
    font-weight: 900;
    color: var(--txt);
}
.close-edit:hover {
    background: var(--logo);
    color: #fff;
}
.close-edit:hover i {
    color: var(--white);
}
.profile-section h2 {
    text-align: center;
    margin: 0.3rem auto;
}
.edit-form h2 {
    color: var(--logo);
}
.edit-form label i {
    font-size: 2.8rem;
}
.edit-form img {
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 50%;
    margin: 0.2rem auto;
}
.edit-form .error {
    color: var(--error);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--error);
    background: var(--error-bg);
    border-radius: 5px;
}
.edit-form .success {
    color: var(--success);
    padding: 0.5rem 1rem;
    border: 0.1px solid var(--success);
    background: var(--suceess-bg);
    border-radius: 5px;
}
.edit-form input {
    outline: none;
    border: 2px solid var(--logo);
    border-radius: 5px;
    padding: 0.7rem 1rem;
    margin: 0.5rem;
    color: #006a82;
    font-weight: 500;
}
.edit-form button {
    outline: none;
    border: none;
    background: var(--logo);
    color: var(--white);
    font-weight: 900;
    padding: 0.7rem 1rem;
    margin: 0.2rem auto;
    width: 222px;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
.edit-form button:hover {
    background: #006a82;
}
.profile-section .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile .edit {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--ico-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.edit i {
    font-size: 18px;
    font-weight: 900;
    color: var(--txt);
}
.profile .edit:hover {
    background: var(--logo);
    color: #fff;
}
.profile .edit:hover i {
    color: var(--white);
}
.profile img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin: 0.2rem auto;
    padding: 2px;
    border-radius: 50%;
    border: 2.5px solid var(--logo);
}
.profile h3 {
    text-align: center;
    margin: 0.3rem auto;
    color: var(--logo);
}
.profile-section .profile-head {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.profile-head .error-profile {
    color: #c50606;
    font-weight: 900;
    background: rgba(178, 57, 2, 0.122);
    border: 1px solid #b23902;
    display: block;
    margin: 0.3rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.7rem;
}
.profile-head .success-profile {
    color: #0b8300;
    font-weight: 900;
    background: rgba(2, 178, 13, 0.122);
    border: 1px solid #2a7a00;
    display: block;
    margin: 0.3rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.7rem;
}
.profile-head .cover {
    position: relative;
    width: 100%;
    height: 140px;
    display: block;
}
.cover img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}
.cover .pencil {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pencil img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding: 2px;
}
.profile-head .profile-pic {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    right: 0;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid var(--txt);
}
.profile-pic img {
    width: 150px;
    height: 150px;
    padding: 2px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-pic .pencil {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pencil img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding: 2px;
}
.profile-section .name-section {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-section h3 {
    color: var(--txt);
    font-weight: 900;
}
.name-section .action-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
}
.action-area button {
    outline: none;
    border-radius: 8px;
    border: none;
    padding: 0.5rem 1rem;
}
.action-area .edit-personal {
    background: var(--logo);
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
.action-area .update-profile {
    background: #2eb700;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.action-area .add {
    background: var(--logo);
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
.action-area .accept {
    background: #097b01;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.action-area .cancel-request {
    background: #a60202;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.action-area .unfriend {
    background: #a60202;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
.action-area .message {
    background: #0ba602;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}
.action-area .disabled-message {
    background: #455649;
    color: var(--white);
    font-weight: 900;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

/* Add Friend Styling */
.people {
    max-height: 80vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.people h3 {
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.8rem 0;
    color: var(--txt);
    font-weight: 900;
    border-bottom: 1px solid var(--txt);
}

.people .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 0.1px solid #cdcdce;
}
.flex a {
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo);
}
.flex a img {
    width: 55px;
    height: 55px;
    padding: 2px;
    border-radius: 50%;
    border: 0.1px solid var(--logo);
}
.flex a span {
    color: var(--logo);
    font-weight: 700;
    margin: 0 0.5rem;
    font-size: 17px;
}
.flex button {
    outline: none;
    border: none;
    background: var(--logo);
    color: var(--white);
    font-weight: 900;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.flex .accept {
    background: #097b01;
}

.flex .request-sent {
    background: #013f4d;
    color: var(--white);
}
.flex .hide-add {
    display: none;
}
.flex .hide-cancel {
    display: none;
}
.flex .show-cancel {
    display: block;
    background: #952500;
    color: var(--white);
}
.flex .show-add {
    display: block;
    background: var(--logo);
    color: var(--white);
}
@media (max-width: 768px) {
    .profile-section,
    .post {
        width: 98%;
        max-width: 98%;
        margin: 1rem auto;
    }
    .post-fetching {
        width: 98%;
    }
}
